<a href="https://colab.research.google.com/github/Puneeth-Abhishek-6622/NN_for_handwritten_digits_recognition/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler , LabelEncoder
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense , Dropout
from tensorflow.keras.optimizers import Adam

In [3]:
df = pd.read_csv('/content/Churn_Modelling (2).csv')
print(df)

      RowNumber  CustomerId    Surname  CreditScore Geography  Gender  Age  \
0             1    15634602   Hargrave          619    France  Female   42
1             2    15647311       Hill          608     Spain  Female   41
2             3    15619304       Onio          502    France  Female   42
3             4    15701354       Boni          699    France  Female   39
4             5    15737888   Mitchell          850     Spain  Female   43
...         ...         ...        ...          ...       ...     ...  ...
9995       9996    15606229   Obijiaku          771    France    Male   39
9996       9997    15569892  Johnstone          516    France    Male   35
9997       9998    15584532        Liu          709    France  Female   36
9998       9999    15682355  Sabbatini          772   Germany    Male   42
9999      10000    15628319     Walker          792    France  Female   28

      Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
0          2       0.00              1          1               1
1          1   83807.86              1          0               1
2          8  159660.80              3          1               0
3          1       0.00              2          0               0
4          2  125510.82              1          1               1
...      ...        ...            ...        ...             ...
9995       5       0.00              2          1               0
9996      10   57369.61              1          1               1
9997       7       0.00              1          0               1
9998       3   75075.31              2          1               0
9999       4  130142.79              1          1               0

      EstimatedSalary  Exited
0           101348.88       1
1           112542.58       0
2           113931.57       1
3            93826.63       0
4            79084.10       0
...               ...     ...
9995         96270.64       0
9996        101699.77       0
9997         42085.58       1
9998         92888.52       1
9999         38190.78       0

[10000 rows x 14 columns]

In [4]:
df.drop(columns = ['RowNumber' , 'CustomerId' , 'Surname'] , inplace = True)
df.head()


#encode the categorical variables

df["Gender"] = LabelEncoder().fit_transform(df["Gender"])

df = pd.get_dummies(df , columns = ['Geography'] , drop_first=True)
print(df)

      CreditScore  Gender  Age  Tenure    Balance  NumOfProducts  HasCrCard  \
0             619       0   42       2       0.00              1          1
1             608       0   41       1   83807.86              1          0
2             502       0   42       8  159660.80              3          1
3             699       0   39       1       0.00              2          0
4             850       0   43       2  125510.82              1          1
...           ...     ...  ...     ...        ...            ...        ...
9995          771       1   39       5       0.00              2          1
9996          516       1   35      10   57369.61              1          1
9997          709       0   36       7       0.00              1          0
9998          772       1   42       3   75075.31              2          1
9999          792       0   28       4  130142.79              1          1

      IsActiveMember  EstimatedSalary  Exited  Geography_Germany  \
0                  1        101348.88       1              False
1                  1        112542.58       0              False
2                  0        113931.57       1              False
3                  0         93826.63       0              False
4                  1         79084.10       0              False
...              ...              ...     ...                ...
9995               0         96270.64       0              False
9996               1        101699.77       0              False
9997               1         42085.58       1              False
9998               0         92888.52       1               True
9999               0         38190.78       0              False

      Geography_Spain
0               False
1                True
2               False
3               False
4                True
...               ...
9995            False
9996            False
9997            False
9998            False
9999            False

[10000 rows x 12 columns]

In [5]:
#split data
X = df.drop(columns=["Exited"])
y = df["Exited"]
X_train , X_test , y_train , y_test = train_test_split(X , y , test_size=0.2 , random_state=42, stratify=y)

In [7]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)
print(X_train)
print("\n\n")
print("\n\n")
print(X_test)

[[ 1.058568    0.90750738  1.71508648 ...  1.04208392 -0.57831252
  -0.57773517]
 [ 0.91362605  0.90750738 -0.65993547 ... -0.62355635  1.72916886
  -0.57773517]
 [ 1.07927399 -1.10191942 -0.18493108 ...  0.30812779  1.72916886
  -0.57773517]
 ...
 [ 0.16821031 -1.10191942 -0.18493108 ... -0.55808767 -0.57831252
  -0.57773517]
 [ 0.37527024  0.90750738 -0.37493284 ... -1.35149956 -0.57831252
   1.73089688]
 [ 1.56586482  0.90750738  1.14508121 ... -1.02692216 -0.57831252
   1.73089688]]






[[-0.68073539  0.90750738 -0.27993196 ... -0.09502138 -0.57831252
  -0.57773517]
 [-1.30191518  0.90750738 -0.5649346  ... -0.778941    1.72916886
  -0.57773517]
 [-0.97061929 -1.10191942  0.10007155 ...  0.09946914 -0.57831252
   1.73089688]
 ...
 [-1.39509214 -1.10191942  0.7650777  ...  0.8700859   1.72916886
  -0.57773517]
 [ 0.39597623  0.90750738  0.00507067 ... -1.47935555 -0.57831252
  -0.57773517]
 [ 1.02750901  0.90750738 -0.5649346  ... -0.49531855 -0.57831252
  -0.57773517]]

In [8]:
ann = tf.keras.models.Sequential()
ann.add(tf.keras.layers.Dense(units=64 , activation='relu'))
ann.add(tf.keras.layers.Dense(units=32 , activation='relu'))
ann.add(tf.keras.layers.Dense(units=1 , activation='sigmoid'))

In [9]:
opt = tf.keras.optimizers.Adam(learning_rate=0.01)
ann.compile(optimizer=opt , loss='binary_crossentropy' , metrics=['accuracy'])

In [10]:
ann.fit(X_train , y_train , batch_size=32 , epochs=20)

Epoch 1/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.8046 - loss: 0.4436
Epoch 2/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8672 - loss: 0.3326
Epoch 3/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8595 - loss: 0.3435
Epoch 4/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8655 - loss: 0.3336
Epoch 5/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8643 - loss: 0.3375
Epoch 6/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8642 - loss: 0.3259
Epoch 7/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8596 - loss: 0.3444
Epoch 8/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8680 - loss: 0.3312
Epoch 9/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8637 - loss: 0.3298
Epoch 10/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8638 - loss: 0.3308
Epoch 11/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8682 - loss: 0.3253
Epoch 12/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8677 - loss: 0.3220
Epoch 13/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8712 - loss: 0.3192
Epoch 14/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8673 - loss: 0.3161
Epoch 15/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8620 - loss: 0.3254
Epoch 16/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8673 - loss: 0.3211
Epoch 17/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8627 - loss: 0.3246
Epoch 18/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8676 - loss: 0.3068
Epoch 19/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8737 - loss: 0.3066
Epoch 20/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8761 - loss: 0.2999